<!DOCTYPE html>
<html>
<head>

<title>AI Interview Ready</title>

<style>

body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.container{
margin-top:150px;
}

button{
padding:15px 30px;
font-size:18px;
background:#22c55e;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

</style>

</head>

<body>

<div class="container">

<h1>Welcome {{name}}</h1>

<h2>Your AI Interview is ready</h2>

<br>

<a href="/interview">
<button>Start Interview</button>
</a>

</div>

</body>
</html>